* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.imgFondo {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.contenedor {
  position: fixed;
  width: 100vw;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contenedor .element1 {
  font-size: 60px;
  color: white;
  margin-left: 60px;
  text-shadow: 2px 3px 3px rgb(26, 243, 26);
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}
.contenedor .element1:hover {
  text-shadow: 2px 3px 3px rgb(0, 102, 255);
  color: white;
}
.contenedor .element1 .element1__olio {
  color: rgb(26, 243, 26);
}
@media (max-width: 740px) {
  .contenedor .element1 {
    font-size: 30px;
  }
}
.contenedor #element2 {
  width: 770px;
  height: 50px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedor #element2 .element1__a {
  color: white;
  margin-right: 50px;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 3px 4px 5px rgb(26, 243, 26);
  font-family: fantasy, sans-serif;
  transition-duration: 2s;
}
.contenedor #element2 .element1__a:hover {
  text-shadow: 2px 4px 5px rgb(0, 102, 255);
  color: white;
  transform: rotate(360deg);
}

#proyecto__header {
  color: white;
  margin-right: 50px;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 3px 4px 5px rgb(26, 243, 26);
  font-family: fantasy, sans-serif;
  transition-duration: 2s;
}
#proyecto__header:hover {
  text-shadow: 2px 4px 5px rgb(0, 102, 255);
  color: white;
  transform: rotate(360deg);
}

.footer {
  background-color: rgb(27, 27, 27);
  width: 100vw;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer__icon {
  width: 40px;
  margin: 0 20px;
  animation: saltar 1s infinite alternate-reverse;
}
@-webkit-keyframes saltar {
  0% {
    transform: translateY(15px);
  }
}
@keyframes saltar {
  0% {
    transform: translateY(15px);
  }
}

/* Acerca de Emiliano*/
.fondoEmiliano {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fondoEmiliano__h1 {
  width: 600px;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 8px;
}

.fondoEmiliano__contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fondoEmiliano__contenedor .fondoEmiliano__contenedor2 {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.fondoEmiliano__contenedor .fondoEmiliano__contenedor2 .fondoEmiliano__contenedor2__img {
  width: 230px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 15px;
  border-radius: 35px;
}
.fondoEmiliano__contenedor .fondoEmiliano__contenedor3 {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.fondoEmiliano__contenedor .fondoEmiliano__contenedor3 .fondoEmiliano__contenedor3__h2 {
  color: white;
  font-size: 50px;
  width: 700px;
  margin: 140px auto 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
}
.fondoEmiliano__contenedor .fondoEmiliano__contenedor3 .fondoEmiliano__contenedor3__h2 .spanEmiliano {
  color: rgb(26, 243, 26);
}
.fondoEmiliano__contenedor .fondoEmiliano__contenedor3 .fondoEmiliano__contenedor3__h3 {
  color: white;
  font-size: 30px;
  width: 700px;
  margin: 5px auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 40px;
}

/* css de contacto*/
.contenedor__contacto {
  background-color: black;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fondoContacto {
  background-color: black;
  width: 100vw;
  height: 87vh;
}

.fondoContacto__h1 {
  width: 700px;
  color: black;
  font-size: 50px;
  margin-top: 30px;
  flex-wrap: wrap;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 8px;
}

.contacto__conteiner1 {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 600px;
}

.contacto__container1__inputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-left: 100px;
  margin-top: 17px;
}

.contacto__container1__inputs textarea {
  border-radius: 10px;
  border-style: inset;
  width: 500px;
  height: 120px;
}

.contactoLabel {
  color: white;
  font-size: 30px;
  padding: 10px;
}

.contacto__container1__inputs input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

.contacto__container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20%;
  margin-top: 130px;
}

.contacto__container2__h2 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 500px;
  font-size: 40px;
}

.spanJuntos {
  color: rgb(26, 243, 26);
}

.contacto__btn {
  background-color: rgb(26, 243, 26);
  width: 3px;
}

/*css de Habilidades*/
.fondoEmiliano__habilidades {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenedor1__habilidades {
  width: 100vw;
  height: 100vh;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.d-block {
  width: 300px;
  height: 300px;
  margin: auto;
}

.carousel-caption {
  top: 300px;
}

.carousel-inner {
  height: 70vh;
}

/*aqui empieza css de proyectos*/
* {
  margin: 0;
  padding: 0;
  overflow: visible;
}

#main__proyecto {
  background-color: black;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container {
  height: 5rem;
}

.navbar-text {
  margin-right: 70px;
}

.card-img-top {
  width: 15rem;
  margin: 6px auto 0;
}

.col {
  margin: 1.5rem auto;
}
.col .card {
  margin: 30px auto 10px;
  width: 20rem;
  height: 24rem;
  border: 2px solid rgb(26, 243, 26);
  background-color: black;
}

#container__footer {
  position: relative;
}

.card-title, .card-text {
  color: black;
}

@media (max-width: 740px) {
  * {
    box-sizing: content-box;
  }
  .element1 {
    font-size: 40px;
    margin-left: 0;
  }
  .col {
    margin: auto;
  }
  .col:nth-child(1) {
    margin-top: 1em;
  }
  .card {
    width: 15em;
    margin: o;
  }
  .container {
    z-index: 3;
  }
  #navbarText {
    background-color: rgb(26, 24, 24);
  }
  .card-title {
    font-size: 1.3em;
  }
  .card-text {
    font-size: 0.9em;
  }
  /*emiliano mobile*/
  .fondoEmiliano {
    overflow: scroll;
  }
  .fondoEmiliano__contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fondoEmiliano__contenedor2__img {
    width: 170px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 25em;
    margin-right: -1em;
    border-radius: 40%;
  }
  .fondoEmiliano__contenedor3__h2 {
    font-size: 30px;
  }
  .fondoEmiliano__contenedor3__h3 {
    color: white;
    font-size: 20px;
    width: 700px;
    margin: 5px auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 40px;
  }
  /*contacto mobile*/
  .contenedor__contacto {
    background-color: black;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .fondoContacto {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 87vh;
  }
  .fondoContacto__h1 {
    width: 700px;
    color: white;
    font-size: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 8px;
  }
  .contacto__conteiner1 {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 300px;
  }
  .contacto__container1__inputs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-left: 10%;
    margin-top: 150px;
  }
  .contacto__container1__inputs textarea {
    border-radius: 10px;
    border-style: inset;
    width: 300px;
    height: 120px;
    margin-bottom: 5px;
  }
  .contactoLabel {
    font-size: 30px;
    padding: 2px;
  }
  .contacto__container1__inputs input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
  }
  .contacto__container2 {
    top: 0px;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    left: 10%;
    margin-top: 130px;
  }
  .contacto__container2__h2 {
    width: 290px;
    font-size: 30px;
  }
  .contacto__btn {
    background-color: rgb(26, 243, 26);
    width: 3px;
    margin-bottom: 5px;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  * {
    box-sizing: content-box;
  }
  .element1 {
    font-size: 40px;
    margin-left: 0;
  }
  .col {
    margin: auto;
  }
  .col:nth-child(1) {
    margin-top: 1em;
  }
  .card {
    width: 15em;
    margin: o;
  }
  .container {
    z-index: 3;
  }
  #navbarText {
    background-color: #1a1818;
  }
  .card-title {
    font-size: 1.3em;
  }
  .card-text {
    font-size: 0.9em;
  }
  /*emiliano mobile*/
  .fondoEmiliano__contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .fondoEmiliano__contenedor2__img {
    width: 250px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 5em;
    margin-left: 300px;
  }
  .fondoEmiliano__contenedor3 {
    width: 50%;
  }
  .fondoEmiliano__contenedor3__h2 {
    font-size: 35px;
    width: 500px;
  }
  .fondoEmiliano__contenedor3__h3 {
    color: white;
    font-size: 25px;
    width: 300px;
    margin: 5px auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 40px;
  }
  /*contacto mobile*/
  .contenedor__contacto {
    background-color: black;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .fondoContacto {
    background-color: black;
    width: 100vw;
    height: 87vh;
  }
  .fondoContacto__h1 {
    width: 700px;
    color: white;
    font-size: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 8px;
  }
  .contacto__conteiner1 {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 300px;
  }
  .contacto__container1__inputs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-left: 50%;
    margin-top: 150px;
  }
  .contacto__container1__inputs textarea {
    border-radius: 10px;
    border-style: inset;
    width: 400px;
    height: 120px;
    margin-bottom: 5px;
  }
  .contactoLabel {
    font-size: 30px;
    padding: 2px;
  }
  .contacto__container1__inputs input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
  }
  .contacto__container2 {
    top: 0px;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    left: 10%;
    margin-top: 130px;
  }
  .contacto__container2__h2 {
    width: 590px;
    font-size: 30px;
  }
  .contacto__btn {
    background-color: #1af31a;
    width: 3px;
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=portfolio.css.map */